body {
font-family: 'Roboto', sans-serif;
font-family: 'Roboto', sans-serif;
}

.logo {
color: #2196F3;
font-weight: bold;
width: 145px;
height: 31px;
background-color: #FFFFFF;
}

.logo1 {
    color: #000000;
    font-size: large;
}

.logo2 {
color: #212121;
font-size: 14px;
line-height: 16px;
font-style: Medium;
letter-spacing: 2;
text-decoration: none;
list-style-type: none;
}
.logo:hover,
.logo1:hover,
.logo2:hover {
    color: #2196F3;
}

ul {
    list-style-type: none;
}
.msection {
    background-color: #2F303A;
    color: #FFFFFF;
    font-family: inherit;
    Font family: Roboto
    font-size: 44px;
    line height: 60px;
    textde
}
.msection1 {

}

.logo3 {
background-color: 2F303A;
}
.logo4 {

}
